.images {
  width: 980px;
}

.images .link {
  position: relative;
  width: 245px;
  float: left;
}

.images .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 245px;
  height: 245px;
  background-color: deeppink;
  opacity: .4;
  transition: opacity 2s;
}

.images .overlay:hover {
  opacity: 0;
  transition: opacity 2s;
}
